.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--unit-4);
  padding-right: var(--unit-4);
  width: 570px;
  height: 100vh;
  background-color: #fff;
}
.mainLayoutContainer {
  width: 100%;
  padding-left: var(--unit-4);
  padding-right: var(--unit-4);
}