.taskDrawer {
  position: fixed;

  bottom: 0;
  z-index: 0;
  margin-top: auto;
  width: 570px;
  height: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transform: translateY(110%);
  transition: transform 0.4s ease-in-out, height 0.1s ease-in;
  padding: 20px;
}

[data-drawer-collapse="false"] {
  height: 35vh;
  transform: translateY(0);
  border-top: 2px solid #797979;
  border-right: 2px solid #797979;
  border-left: 2px solid #797979;
  .taskHeader {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
      margin-right: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    input[type="text"] {
      font-size: 1.3rem;
      border: none;
    }
    input:focus{
      outline: none;
    }
  }
  .taskDetails {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }
}