.taskItem {
  display: flex;
  width: 100%;
  padding: 0.25rem 0.5rem 0.25rem 0.15rem;
  .checkboxWrapper {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }
  .taskTitle {
    display: block;
    p {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
  }
  .taskInfo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    .taskInfoDetails {
      display: flex;
      flex-direction: row;
      font-size: 10px;
      gap: 5px;
      i > svg > path, i > svg > g {
        fill: #888;
      }
      p {
        font-size: 10px;
        color: #c2c2c2;
      }
    }
  }

  button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    i > svg > path {
      fill: #888;
      &:hover {
        fill: #000;
      }
    }
  }

  p {
    font-size: 18px;
    color: #888;
  }
  p:hover {
    color: #000;
    cursor: pointer;
  }
  &:hover {
    cursor: grab;
    button {
      opacity: 1;
    }
  }




  .completed {
    text-decoration: line-through;
    color: #d1d1d1;
  }
}
