.taskItem {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0 0.15rem;

  button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    i > svg > path {
      fill: #888;
      &:hover {
        fill: #000;
      }
    }
  }

  p {
    font-size: 18px;
    color: #888;
  }
  p:hover {
    color: #000;
    cursor: pointer;
  }
  &:hover {
    cursor: grab;
    button {
      opacity: 1;
    }
  }


  .checkboxWrapper {
    display: flex;
    align-items: center;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.55rem;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 50%;
    margin-right: 0.5rem;
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
  }

  input[type="checkbox"]:hover {
    border: 1px solid #000;
  }
  input[type="checkbox"]:checked {
    background-color: lightblue;
  }


  .completed {
    text-decoration: line-through;
    color: #d1d1d1;
  }
}
