.taskDrawer {
  position: fixed;
  bottom: 0;
  z-index: 0;
  margin-top: auto;
  min-width: 570px;
  height: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transform: translateY(110%);
  transition: transform 0.4s ease-in-out, height 0.1s ease-in;
  padding: 20px;
  -webkit-box-shadow: 0px -5px 6px -4px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px -5px 6px -4px rgba(0,0,0,0.30);
  box-shadow: 0px -7px 6px -4px rgba(0, 0, 0, 0.30);
}

[data-drawer-collapse="false"] {
  min-height: 30vh;
  transform: translateY(0);
  background-color: #f0f0f0;
}