.taskList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .category {
    width: 100%;
    padding-bottom: 2rem;
    transition: background-color 0.3s ease;
    &.dragOver {
      background-color: #f0f0f0;
    }

  }
  &.dragStart {
    cursor: grabbing;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
