// styles/TaskItem.module.scss
.taskItem {
  display: flex;
  align-items: center;
  margin-left: 0.15rem;
  margin-bottom: 0.5rem;
  p {
    font-size: 18px;
    color: #888;
  }
  p:hover {
    color: #000;
    cursor: pointer;
  }
  &:hover {
    cursor: grab;
  }


  .checkboxWrapper {
    display: flex;
    align-items: center;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.55rem;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 50%;
    margin-right: 0.5rem;
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
  }

  input[type="checkbox"]:hover {
    border: 1px solid #000;
  }
  input[type="checkbox"]:checked {
    background-color: lightblue;
  }


  .completed {
    text-decoration: line-through;
    color: #d1d1d1;
  }
}
